USE [master]
GO
/****** Object:  Database [ASPuygulama]    Script Date: 1.01.2024 23:03:24 ******/
CREATE DATABASE [ASPuygulama]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASPuygulama', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASPuygulama.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASPuygulama_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASPuygulama_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASPuygulama].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASPuygulama]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCityRelations]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCityRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[BlogId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BlogCityRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[CommentContent] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[CommentTime] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BlogComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogLikes]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogLikes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BlogId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BlogLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[PostDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BlogPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.01.2024 23:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[SignDate] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsLogin] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogCityRelations] ON 

INSERT [dbo].[BlogCityRelations] ([Id], [CityId], [BlogId]) VALUES (1, 1, 1)
INSERT [dbo].[BlogCityRelations] ([Id], [CityId], [BlogId]) VALUES (2, 2, 2)
INSERT [dbo].[BlogCityRelations] ([Id], [CityId], [BlogId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[BlogCityRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogComments] ON 

INSERT [dbo].[BlogComments] ([Id], [BlogId], [CommentContent], [UserId], [CommentTime], [Status]) VALUES (1, 1, N'Great overview! Looking forward to more content on this topic.', 2, CAST(N'2023-12-22T10:31:22.517' AS DateTime), 1)
INSERT [dbo].[BlogComments] ([Id], [BlogId], [CommentContent], [UserId], [CommentTime], [Status]) VALUES (2, 2, N'This is fascinating! How do these algorithms impact patient outcomes?', 3, CAST(N'2023-12-22T10:31:22.517' AS DateTime), 1)
INSERT [dbo].[BlogComments] ([Id], [BlogId], [CommentContent], [UserId], [CommentTime], [Status]) VALUES (3, 3, N'Well-researched article. Are there any studies comparing different renewable energy sources?', 4, CAST(N'2023-12-22T10:31:22.517' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BlogComments] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogLikes] ON 

INSERT [dbo].[BlogLikes] ([Id], [UserId], [BlogId]) VALUES (2, 2, 1)
INSERT [dbo].[BlogLikes] ([Id], [UserId], [BlogId]) VALUES (3, 1, 1)
INSERT [dbo].[BlogLikes] ([Id], [UserId], [BlogId]) VALUES (1002, 1, 1)
SET IDENTITY_INSERT [dbo].[BlogLikes] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

INSERT [dbo].[BlogPosts] ([Id], [Title], [Content], [PostDate], [UserId], [Image]) VALUES (1, N'Quantum Computing: An Overview', N'This article provides a comprehensive overview of quantum computing, its principles, and potential applications.', CAST(N'2023-12-22T10:30:07.403' AS DateTime), 1, N'/Content/postImages/bartin.jpg')
INSERT [dbo].[BlogPosts] ([Id], [Title], [Content], [PostDate], [UserId], [Image]) VALUES (2, N'Machine Learning Algorithms in Healthcare', N'Exploring the role of machine learning algorithms in improving healthcare outcomes and patient care.', CAST(N'2023-12-22T10:30:07.403' AS DateTime), 2, N'/Content/postImages/burdur.jpg')
INSERT [dbo].[BlogPosts] ([Id], [Title], [Content], [PostDate], [UserId], [Image]) VALUES (3, N'The Impact of Renewable Energy on Climate Change', N'Analyzing the environmental impact of renewable energy sources and their role in mitigating climate change.', CAST(N'2023-12-22T10:30:07.403' AS DateTime), 3, N'/Content/postImages/eskisehir.jpg')
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'Adana')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'Afyonkarahisar')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [SignDate], [Image], [IsLogin], [IsDeleted]) VALUES (1, N'admin', N'admin@example.com', N'123', CAST(N'2023-12-22T10:27:00.903' AS DateTime), N'/Content/userImages/admin.png', 0, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [SignDate], [Image], [IsLogin], [IsDeleted]) VALUES (2, N'user1', N'user1@example.com', N'456', CAST(N'2023-12-22T10:27:00.903' AS DateTime), N'/Content/userImages/user1.png', 0, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [SignDate], [Image], [IsLogin], [IsDeleted]) VALUES (3, N'user2', N'user2@example.com', N'789', CAST(N'2023-12-22T10:27:00.903' AS DateTime), N'/Content/userImages/user2.png', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BlogId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_BlogId] ON [dbo].[BlogCityRelations]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[BlogCityRelations]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_BlogId] ON [dbo].[BlogComments]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BlogComments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_BlogId] ON [dbo].[BlogLikes]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BlogLikes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1.01.2024 23:03:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BlogPosts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLogin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BlogCityRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogCityRelations_dbo.BlogPosts_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([Id])
GO
ALTER TABLE [dbo].[BlogCityRelations] CHECK CONSTRAINT [FK_dbo.BlogCityRelations_dbo.BlogPosts_BlogId]
GO
ALTER TABLE [dbo].[BlogCityRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogCityRelations_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[BlogCityRelations] CHECK CONSTRAINT [FK_dbo.BlogCityRelations_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogComments_dbo.BlogPosts_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([Id])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_dbo.BlogComments_dbo.BlogPosts_BlogId]
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogComments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BlogComments] CHECK CONSTRAINT [FK_dbo.BlogComments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[BlogLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogLikes_dbo.BlogPosts_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([Id])
GO
ALTER TABLE [dbo].[BlogLikes] CHECK CONSTRAINT [FK_dbo.BlogLikes_dbo.BlogPosts_BlogId]
GO
ALTER TABLE [dbo].[BlogLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogLikes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BlogLikes] CHECK CONSTRAINT [FK_dbo.BlogLikes_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogPosts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_dbo.BlogPosts_dbo.Users_UserId]
GO
USE [master]
GO
