
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">

    <!--== Start Page Title Area ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="about-area">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-6 col-md-5">
                    <div class="about-thumb effect-animate-flash">
                        <img src="~/Content/images/photos/1.jpg" alt="Image" width="500" height="700">
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 fs-2 d-flex flex-column gap-5" >
                    <div>
                        <h1 class="fs-1 fw-bold">About</h1>
                    </div>
                    <div class="about-content">
                        <h4 class="title-underline"><span class="fs-1">It is a long established fact that a reader will be distracted readable</span></h4>
                        <h4 class="title">The standard chunk Lorem used since the is reproduced below for those interested.</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered fore alteration in some form, by injected humour</p>
                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End About Area Wrapper ==-->


    <!--== Start Brand Logo Area ==-->
    <div class="brand-logo-area brand-logo-default-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="brand-logo-slider-content swiper-nav-style2">
                        <div class="swiper-container brand-logo-slider-container">
                            <div class="swiper-wrapper brand-logo-slider d-flex justify-content-between">
                                <div class="swiper-slide brand-logo-item">
                                    <img src="~/Content/images/brand-logo/1.jpg" alt="Brand-Logo" width="186" height="92">
                                </div>
                                <div class="swiper-slide brand-logo-item">
                                    <img src="~/Content/images/brand-logo/2.jpg" alt="Brand-Logo" width="186" height="92">
                                </div>
                                <div class="swiper-slide brand-logo-item">
                                    <img src="~/Content/images/brand-logo/3.jpg" alt="Brand-Logo" width="186" height="92">
                                </div>
                                <div class="swiper-slide brand-logo-item">
                                    <img src="~/Content/images/brand-logo/4.jpg" alt="Brand-Logo" width="186" height="92">
                                </div>
                                <div class="swiper-slide brand-logo-item">
                                    <img src="~/Content/images//brand-logo/5.jpg" alt="Brand-Logo" width="186" height="92">
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area ==-->
</main>


